.react-pdf__Page__canvas {
    margin: 0 auto;
}

.PDFPage {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    margin-top: 25px;
    }

.PDFPage > canvas {
    max-width: 100%;
    height: auto !important;
    }
